.page {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  color: @color-black;
  font-style: normal;
  font-weight: 400;
}

.button {
  padding: 7px 70px;
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
  background-color: @color-green;
  text-decoration: none;
  text-transform: uppercase;
  color: @color-white;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;

  &:hover {
    background-color: @color-greener;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: @color-black;
  }

  @media (min-width: @desktop-width) {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: @color-black;
  }
}

* {
  outline: solid 2px @color-outline;
}
