@color-main: #ffffff;
@color-secondary: #000000;
@color-green: #68B738;
@color-greener: #5EAA2F;
@color-error: #FF8282;
@color-lighter-grey: #F2F2F2;
@color-light-grey: #EBEBEB;
@color-grey: #CDCDCD;
@color-dark-grey: #666666;
@color-very-dark-grey: #444444;
@color-almost-black: #222222;
