.advantages {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.advantages__title {
  margin-left: auto;
  margin-right: auto;
}

.advantages__item {
  list-style: none;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-dark-grey;
  padding: 21px 0;
  margin-left: 75px;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
    margin-left: -75px;
    border-radius: 0;
    position: absolute;
  }
}

.advantages__item--leaf {
  &::before {
    content: "";
    background: @color-green url("../img/advantages/icon-leaf.svg") no-repeat;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
    margin-left: -75px;
    border-radius: 0;
    position: absolute;
  }
}

.advantages__item--tub {
  &::before {
    content: "";
    background: @color-green url("../img/advantages/icon-tub.svg") no-repeat;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
    margin-left: -75px;
    border-radius: 0;
    position: absolute;
  }
}

.advantages__item--fork {
  &::before {
    content: "";
    background: @color-green url("../img/advantages/icon-fork.svg") no-repeat;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
    margin-left: -75px;
    border-radius: 0;
    position: absolute;
  }
}

.advantages__item--alarm {
  &::before {
    content: "";
    background: @color-green url("../img/advantages/icon-alarm.svg") no-repeat;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0;
    margin-left: -75px;
    border-radius: 0;
    position: absolute;
    justify-content: center;
  }
}
