.catalog-more {
  max-width: 320px;
  text-align: center;
  display: block;
  border-top: 1px solid @color-grey;
  border-bottom: 1px solid @color-grey;
  padding: 20px 0;
  margin-left: 0;
  margin-right: 20px;
  margin-top: 30px;
}

.catalog-more__wrapper {
  margin-left: 20px;
}

.catalog-more--button {
  background: url("../img/more-goods/button-more-goods.svg") no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 0;
  border: none;
}

.catalog-more--header {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @color-extra-grey;
  margin-top: 30px;
}

.catalog-more--options {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: @color-dark-grey;
  margin-bottom: 30px;
}

.catalog-more--button-all {
  background: @color-light-grey;
  color: @color-dark-grey;
  width: 100%;
  padding-right: 0;
  padding-left: 0;

  &:hover {
    background-color: @color-darker-light-grey;
  }

  &:active {
    background-color: @color-darker-light-grey;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .catalog-more {
    max-width: 320px;
    text-align: center;
    display: block;
    border-top: 1px solid @color-grey;
    border-bottom: 1px solid @color-grey;
    padding: 30px 0;
    margin-left: 30px;
    margin-right: 0;
    margin-top: 30px;
  }

  .catalog-more__wrapper {
    margin-left: 0;
    position: relative;
  }

  .catalog-more--button {
    background: url("../img/more-goods/button-more-goods.svg") no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 0;
    border: none;
    margin-top: 50px;
  }

  .catalog-more--header {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: @color-extra-grey;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .catalog-more--options {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: @color-dark-grey;
    margin-bottom: 30px;
    margin-left: 75px;
    margin-right: 75px;
  }

  .catalog-more--button-all {
    background: @color-light-grey;
    color: @color-dark-grey;
    width: 100%;
    padding-right: 0;
    padding-left: 0;

    &:hover {
      background-color: @color-darker-light-grey;
    }

    &:active {
      background-color: @color-darker-light-grey;
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
