.contacts {
  margin-left: 20px;
}

.contacts__heading {
  font-size: 24px;
  line-height: 26px;
  color: @color-black;
  position: relative;
  padding-right: 113px;
  font-weight: normal;

  &::after {
    content: "";
    border: 2px solid @color-green;
    transform: rotate(-0.17deg);
    position: absolute;
    top: 50%;
    right: 0;
    width: 99px;
  }
}

.contacts__fields {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contacts__fields--label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-dark-grey;
}

.contacts__fields--input {
  padding-top: 13px;
  padding-bottom: 13px;
  list-style: none;
  box-sizing: border-box;
  border: 1px solid @color-grey;
  width: 100%;
  margin-left: 15px;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: @color-dark-grey;
    text-transform: uppercase;
    font-family: "Oswald", "Arial", sans-serif;
    padding-left: 10px;
    padding-top: 0;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-left: 70px;
  }

  .contacts__heading {
    font-size: 36px;
    line-height: 36px;
    color: @color-black;
    position: relative;
    font-style: normal;
    font-weight: normal;

    &::after {
      content: "";
      border: 2px solid @color-green;
      transform: rotate(-0.17deg);
      position: absolute;
      top: 50%;
      right: 0;
      width: 145px;
    }

    &::before {
      content: "";
      border: 2px solid @color-green;
      transform: rotate(-0.17deg);
      position: absolute;
      top: 50%;
      left: -70px;
      width: 30px;
    }
  }

  .contacts__fields {
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .contacts__fields--label {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: @color-dark-grey;
  }

  .contacts__fields--input {
    padding-top: 13px;
    padding-bottom: 13px;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid @color-grey;
    width: 100%;
    margin-left: 15px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      color: @color-dark-grey;
      text-transform: uppercase;
      font-family: "Oswald", "Arial", sans-serif;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    margin-left: 110px;
    grid-column: 1/3;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contacts__heading {
    font-size: 36px;
    line-height: 36px;
    color: @color-black;
    position: relative;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 76px;

    &::after {
      content: "";
      border: 2px solid @color-green;
      transform: rotate(-0.17deg);
      position: absolute;
      top: 50%;
      right: 0;
      width: 778px;
    }

    &::before {
      content: "";
      border: 2px solid @color-green;
      transform: rotate(-0.17deg);
      position: absolute;
      top: 50%;
      left: -110px;
      width: 70px;
    }
  }

  .contacts__fields {
    margin-right: 110px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  .contacts__fields--label {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: @color-dark-grey;
  }

  .contacts__fields--input {
    padding-top: 13px;
    padding-bottom: 13px;
    list-style: none;
    box-sizing: border-box;
    border: 1px solid @color-grey;
    width: 100%;
    margin-left: 15px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      color: @color-dark-grey;
      text-transform: uppercase;
      font-family: "Oswald", "Arial", sans-serif;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
