.main-heading__header {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

