.header {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    max-width: 768px;
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    margin-top: 24px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 60px;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 110px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 53px;
    position: static;
  }
}

.header__wrapper--main {
  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      margin: 0;
      font-weight: 400;
      font-family: "Oswald", "Arial", sans-serif;
      color: @color-black;
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/main/desktop-cat-with-tongue.png") no-repeat;
      background-color: #434343;
      margin-right: 0;
      position: absolute;
      width: 50%;
      height: 694px;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }
}

@media (min-resolution: 144dpi), (min-resolution: 2dppx) {
  .header__wrapper--main {
    &::after {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/main/desktop-cat-with-tongue-2x.png") no-repeat;
      background-size: 720px 694px;
    }
  }
}
